@using WebsiteApplication.Models.ViewModels.Rights

@{
    ViewBag.Title = "Role i uprawnienia";
}

<h2>Index</h2>

@(Html.Kendo().Grid<RightViewModel>()
    .Name("rights-grid")
    .ToolBar(t =>
    {
        t.Create().Text("Dodaj uprawnienie");
    })
    .Pageable()
    .Selectable()
    .Filterable()
    .Editable()
    .Columns(c =>
    {
        c.Bound(vm => vm.RightName);
        c.Bound(vm => vm.RightDescription);
        c.Command(cmd =>
        {
            cmd.Edit();
            cmd.Destroy();
        });
    })
    .DataSource(ds => ds
        .Ajax()
        .PageSize(10)
        .Model(m => m.Id(vm => vm.Id))
        .Read(r => r.Action("ReadRights", "Rights"))
        .Create(c => c.Action("CreateRight", "Rights"))
        .Update(u => u.Action("UpdateRight", "Rights"))
        .Destroy(d => d.Action("DestroyRight", "Rights"))
        ))

