@using WebsiteApplication.Models.ViewModels.Rights

<script type="text/kendo" id="rolesTemplate">
    <ul>
        #for(var i = 0; i < data.length; i++){#
        <li>#:data[i].Name#</li>
        #}#
    </ul>
</script>

<script type="text/javascript">
    var rolesTemplate = kendo.template($("#rolesTemplate").html(), { useWithBlock: false });
</script>

@(Html.Kendo().Grid<UserViewModel>()
      .Name("roles-to-users-grid")
      .Pageable()
      .Sortable()
      .Editable()
      .Filterable(f => f.Mode(GridFilterMode.Row))
      .Columns(c =>
      {
          c.Bound(vm => vm.Name);
          c.Bound(vm => vm.Roles).Sortable(false).Filterable(false).ClientTemplate("#=rolesTemplate(Roles)#");
          c.Command(cmd =>
          {
              cmd.Edit();
          });
      })
      .DataSource(ds => ds
          .Ajax()
          .PageSize(10)
          .Model(m =>
          {
              m.Id(vm => vm.Id);
              m.Field(vm => vm.Name).Editable(false);
              m.Field(vm => vm.Roles).DefaultValue(new List<RoleViewModel>());
          })
          .Read(r => r.Action("ReadRolesToUsers", "Rights"))
          .Update(u => u.Action("UpdateRolesToUser", "Rights"))))