@media (min-width: 768px) {
    .circle-tile { margin-bottom: 30px; }
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #fff;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all ease-in-out .3s;
    width: 80px;
}

.dark-blue { background-color: #34495e; }

.green { background-color: #16a085; }

.blue { background-color: #2980b9; }

.orange { background-color: #f39c12; }

.red { background-color: #e74c3c; }

.purple { background-color: #8e44ad; }

.dark-gray { background-color: #7f8c8d; }

.gray { background-color: #95a5a6; }

.light-gray { background-color: #bdc3c7; }

.yellow { background-color: #f1c40f; }

.text-dark-blue { color: #34495e; }

.text-green { color: #16a085; }

.text-blue { color: #2980b9; }

.text-orange { color: #f39c12; }

.text-red { color: #e74c3c; }

.text-purple { color: #8e44ad; }

.text-faded { color: rgba(255, 255, 255, 0.7); }

.circle-tile-heading .fa { line-height: 80px; }

.circle-tile-content { padding-top: 50px; }

.circle-tile-description { text-transform: uppercase; }

.text-faded { color: rgba(255, 255, 255, 0.7); }

.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}

.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}


.morning {
    background: url(https://lh3.googleusercontent.com/-1YbV7nsVnX8/WMugaq-6BEI/AAAAAAAADSg/0wPfQ84vMUcCle_SkgiUDOumUKscMaA8QCL0B/w530-d-h353-p-rw/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}

.time-widget {
    font-size: 1.75em;
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
}

.time-widget-heading {
    color: #fff;
    font-size: .5em;
    font-weight: 400;
    text-transform: uppercase;
}

#datetime { color: #fff; }

.tile-img { text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9); }

.tile {
    color: #fff;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 15px;
}