@{
    ViewBag.Title = @WebsiteApplication.Resources.GlobalTranslations.Contact;
}
<h2>@ViewBag.Title</h2>

<address>
    Rafał Kamil Palej<br />
    Ul. Ogrodowa 109<br />
    33-370, Muszyna<br />
    Telefon: +48 798 116 796
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rafal.palej@rpalej.pl">rafal.palej@rpalej.pl</a><br />
</address>