@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Praca magisterska - Rafał Palej</h1>
    <p class="lead">Aplikacja umożliwia osobom upoważnionym na przeglądanie informacji medycznych pacjenta oraz wygenerowanie raportu z przebiegu jego hospitalizacji.</p>
</div>