@model ICollection<WebsiteApplication.Models.ViewModels.Patient.Hospitalization.ExaminationViewModel>

@{ var dataPanel = Guid.NewGuid().ToString();}
<div class="panel-group" id="accordion@(dataPanel)">
    @foreach (var record in Model.OrderBy(x => x.ExaminationStartTime).ToList())
    {
        var examinationId = Guid.NewGuid().ToString();

        <div class="panel panel-default">
            <div class="panel-heading bg-info">
                <a data-toggle="collapse" data-parent="#accordion@(dataPanel)" href="#@examinationId">
                    Czas badania: @record.ExaminationStartTime do @record.ExaminationEndTime
                </a>
            </div>
            <div id="@examinationId" class="panel-collapse collapse">
                <div class="panel-body">
                    @record.ExaminationDetails
                </div>
            </div>
        </div>
    }
</div>
