@model ICollection<WebsiteApplication.Models.ViewModels.Patient.PatientViewModel>
    
<div>
    @foreach (var record in Model)
    {
        <p>@record.InstitutionName</p>
        <p>@record.Hospitalizations.Count</p>
    }
</div>
