@model WebsiteApplication.Models.ViewModels.Patient.Hospitalization.ExaminationContainerViewModel

@{
    ViewBag.Title = GlobalTranslations.ExaminationDetails;
}

<h2>@GlobalTranslations.ExaminationDetails</h2>