@model WebsiteApplication.Models.ViewModels.Patient.PersonizedPatientViewModel
@{
    ViewBag.Title = "GetHistory";
}

<h2>Historia pacjenta</h2>

@{
    var personModel = Model.PersonViewModel;
    Html.RenderPartial("_PersonInfo", personModel);
}

@{
    var patientModels = Model.PatientViewModels;
    Html.RenderPartial("_PatientInfo", patientModels);
}

