@{
    ViewBag.Title = "Patient";
}

<style>
   img.waiter {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h2>Historia pacjenta</h2>
<hr />


<div id="personInfoHolder" class="panel panel-primary">
    <div class="panel-heading">Dane osobowe Pacjenta</div>
    <div id="personInfo">
        <img class="waiter" src="@Url.Content("~/Content/Images/waiting.gif")" alt=""/>
    </div>
</div>
<hr/>
<div id="personHistoryHolder" class="panel panel-info">
    <div class="panel-heading">
        Dane na temat hospitalizacji Pacjenta</div>
    <div id="personHistory">
        <img class="waiter" src="@Url.Content("~/Content/Images/waiting.gif")" alt="" />
    </div>
</div>


<script>
    
    function GetView(holderId, contentId, viewUrl) {
        $.ajax({
            type: "GET",
            url: viewUrl,
            success: function(result) {
                $(contentId).html(result);
            },
            error: function (req, status, err) {
                $(holderId).addClass('panel-danger');
                $(contentId).html('<img class="waiter" src=@(Url.Content("~/Content/Images/error.png")) />');
            }
        });
    }

    $(document)
        .ready(function () {
            GetView('#personInfoHolder', '#personInfo', '@Url.Action("GetPatientInfo", "Patient")');
        });

    $(document)
        .ready(function () {
            GetView('#personHistoryHolder', '#personHistory', '@Url.Action("GetPatientHistory", "Patient")');
        });

</script>